{% extends '::base.html.twig' %}

{% block body %}
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</div>
{% for entity in entities %}
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <a href="{{ path('fato_show', { 'id': entity.id }) }}">{{ entity.descricao }}</a>
  </div>
</div>
{% endfor %}
{% endblock %}