{% extends '::base.html.twig' %}

{% block content %}
    <h1>Fato creation</h1>

    <form action="{{ path('fato_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('fato') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
