{% extends '::base.html.twig' %}

{% block header %}
<h1>Usuário</h1>
{% endblock %}

{% block content %}
<form action="{{ path('usuario_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p><button type="submit">Criar</button></p>
</form>
{% endblock %}
