{% extends '::base.html.twig' %}

{% block body %}
<ul class="breadcrumb">
  <li class="active">Personagens <span class="divider">/</span></li>
  <li><a href="{{ path('personagem_new') }}">Novo</a></li>
</ul>

{% for entity in entities %}
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{ entity.nome }}</h4>
    <a href="{{ path('personagem_show', { 'id': entity.id }) }}">{{ entity.descricao }} +</a>
  </div>
</div>


    {% endfor %}
{% endblock %}