Options +FollowSymLinks

#<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
        RewriteBase /rpgmr/web
    #</IfModule>

    RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app_dev.php [QSA,L]
#</IfModule>